:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Universal variables */
html {
  --card-border: #77777750;
  --card-action-bg: rgba(100, 100, 100, 0.1);
  --card-action-bg-hover: rgba(100, 100, 100, 0.3);
  --card-action-border: rgba(100, 100, 100, 0.3);
}
/* Theme variables */
html.light {
  --color: #222;
  --bg: #efede8;
  --bg-card: #fff;
}
html.dark {
  --color: #ccc;
  --bg: #0f0f0f;
  --bg-card: #222;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: unset;
}
a:hover,
a:focus,
a:active,
a:visited {
  color: unset;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--color);
  transition: background 0.23s ease;
}

html,
body,
#root {
  height: 100%;
}

* {
  user-select: none;
}
