:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color: #222;
  --bg: #efede8;
  --bg-card: #fff;

  --card-border: #77777750;
  --card-action-bg: rgba(100, 100, 100, 0.1);
  --card-action-bg-hover: rgba(100, 100, 100, 0.3);
  --card-action-border: rgba(100, 100, 100, 0.3);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #eee;
    --bg: #333;
    --bg-card: #222;
  }
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: unset;
}
a:hover,
a:focus,
a:active,
a:visited {
  color: unset;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--color);
}

html,
body,
#root {
  height: 100%;
}

* {
  user-select: none;
}
